body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(215, 194, 238);
  }
  
header {
    background-color: #34086b;
    color: rgb(192, 157, 231);
    padding: 15px 0;
  }
  
  .header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin-left: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    background-color: rgb(192, 157, 231);
  }
  nav ul li.active a {
    color:skyblue; /* Change color to highlight */
    font-weight: bold; /* Optionally make it bold */
    font-size: large;
}
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    color: #007bff;
}
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media only screen and (max-width: 820px) {
    /* Adjustments for iPhones */
    header {
        padding: 10px 0;
    }

    .header-content {
        max-width: 90%;
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        margin: 10px 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
    nav ul li.active a {
      color:skyblue; /* Change color to highlight */
      font-weight: bold; /* Optionally make it bold */
      font-size: large;
  }
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  footer{
    background-color: #34086b;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  .column img {
    max-width: 80%; /* Reduce the image size for smaller screens */
    height: auto; /* Let the height adjust proportionally */
}
